
@font-face{
   font-family: poppins-light;
   src:url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face{
   font-family: poppins-medium;
   src:url('../fonts/poppins/Poppins-Medium.ttf')
}

:root{
   --main-gradient:linear-gradient(90deg, rgba(15,155,180,1) 0%, rgba(48,187,114,1) 100%);
   --box-shadow: -2px 3px 7px 0px #000000bf;
}

*{
   box-sizing: border-box;
}

html{
   font-size: 16px;
}

/* Basics */

body{
   font-family: 'poppins-light';
   font-weight: 300;
   background-color: #22252c;
   margin: 0;
   padding: 0;
}

header{
   padding: 19px 50px 14px;  
   background: var(--main-gradient);
   border-radius: 0;
   margin:0;
   display: inline-block;
   width: 100%;
}

nav{
   flex-direction: column;
   position: fixed;
   height: 100vh;
   right: 0;
   top: 0;
   transform: translateX(100%);
   background-color: #383b42;
   z-index: 2;
   transition: transform 0.7s;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
}

button{
   font-family: 'poppins-light';
   border: none;
   border-radius: 4em;
   cursor: pointer;
   padding: 0;
}

canvas{
   border: 6px solid rgba(255, 255, 255, 0.082);
   border-radius: 25px;
   margin: 6px;
}

input{
   font-family: 'poppins-light';
}

a{
   font-family: 'poppins-light';
   text-decoration: none;
   color: black;
}

/* Layout */

.main-layout{
   max-width: 1120px;
   margin: auto;
}


/* Header Bar */

.header-container{
   justify-content: space-between;
   align-items: center;
}

.logo{
   height: 2.187rem;
}

.fa-bars{
   padding: 10px 10px 8px;
   font-size: 1.3rem;
}

nav.open{
   transform: translateX(0);
}

nav.open .fa-times{
   display: block;
}

nav button{
   background-color:rgba(255, 255, 255, 0);
   color:white;
   font-family: 'poppins-medium';
   font-size: 1.301rem;
   margin-inline-start: 20px;
   padding: 3px 22px;
   transition: background-color .3s;
}


nav button:hover, nav button.active{
   background-color: white;
   color: #21ac91;
}


/* Screen */

.main-screen{
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: rgba(31, 31, 31, 0.5);
   z-index: 1;
   top: 0;
   left: 0;
   opacity: 0;
   pointer-events: none;
   cursor: pointer;
   transition: opacity 0.5s;
}

.main-screen.open{
   opacity: 1;
   pointer-events: auto;
}


/* Gallery */

/* Filter Line */

.gallery{
   margin: 17px;
   background-color: #383b42;
   border-radius: 10px;
   padding: 15px;
}

.filter-bar{
   flex-direction: column;
   justify-content: space-between;
   gap: 15px;
   padding: 10px 0;
}

.filter-bar>*{
   flex-basis: 50%;
   justify-content: space-between;
   align-items: center;
}


.search-line{
   padding: 14px 25px;
   background-color: #22252c;
   border-radius: 4em;
}

.search-line input{
   background:transparent;
   border: none;
   font-size: 1.301rem;
   padding: 0 25px;
   color:#76787c;
width: 100%;}

.search-line input:focus-visible{
   outline: none;
}

.fa-search{
   border-radius: 0;
   padding: 1px;
   font-size: 30px;
   background:var(--main-gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.categories-container{
   gap: 20px;
}

.filter-words-container{
   background-color: #87898d;
   border-radius: 4em;
   flex-grow: 1;
   align-items: center;
   padding: 9px 26px;
   box-shadow: var(--box-shadow);
   justify-content: space-around;
   flex-wrap: wrap;
}

.filter-words-container button{
   color: white;
   margin: 0 7px;
   cursor: pointer;
   background: transparent;
}

.filter-words-container button::first-letter{
   text-transform: uppercase;
}

.filter-words-container button:hover{
   text-shadow: 0 0 8px white;
}

.special-btn{
   background:var(--main-gradient);
   margin: auto;
   padding: 5px 22px;
   color: white;
   font-size: 1.098rem;
   box-shadow: var(--box-shadow);
   transition: transform 0.3s;
}

.special-btn:hover{
   transform: scale(1.1);
}

.all-btn{
   font-size:1rem;
}

@media(min-width:1040px){
   .filter-bar{
      flex-direction: row;
   }
   .search-line{
      margin-inline-start: 10px;
   }
}


.images-container{
   padding: 35px 40px 15px;
   display: grid;
   align-items: center;
   gap: 30px;
   grid-template-columns: repeat(auto-fill ,minmax(200px ,1fr));
}

.images-container p{
   color: white;
   font-size: 1.098rem;;
}

.file-input{
   background-color: #22252c;
   color: white;
   align-self: stretch;
   display: flex;
   justify-content: center;
   align-items: center;
}

.gallery input[type="file"]{
   display: none;
}

.gallery-img{
   border-radius: 10px;
   overflow: hidden;
   box-shadow: var(--box-shadow);
   width: 100%;
   cursor: pointer;
   transition: transform .4s;
   position: relative;
}

.gallery-img img{
   display: block;
   width: 100%;
}

.gallery-img:hover{
   transform: scale(1.1);
}


@media(min-width:680px){
   body{
      padding: 7px;
   }
   
   header{
      margin: 9px 0;
      border-radius: 4em;
   }

   nav{
      flex-direction: row;
      position: relative;
      height: auto;

      transform: translateX(0%);
      background: transparent;
      z-index: 0;
   }

   .gallery{
      margin: 7px;
   }

   .fa-bars{
      display: none;
   }
}

@media(max-width:680px){

   nav button{
      width: 200px;
      margin-inline-start:0;
      border-radius: 0;
      padding: 22px;
      box-shadow: inset 0 -1px 0 0 #7575751c;
   }

}



/* EDITOR */

body.background::before {
   content: "";
   position: absolute;
   top: 100px;
   left: -5%;
   z-index: -1;
   width: 100%;
   height: 100%;
   background-image: url(../images/background.png);
   background-repeat: no-repeat;
   filter: grayscale(100%);
   opacity: 0.2;
   background-size:700px 700px;
}

.editor{
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.editor>*{
   max-width: 500px;
}

.tools-bar{
   flex-direction: column;
   /* justify-content: space-between; */
   align-items: center;
   padding: 10px 30px; /* pp: 24px 40px */
   margin: 6px; /*pp:12px*/
   background-color: rgba(255, 255, 255, 0.082);
   border-radius: 25px;
}

.tools-bar>*{
   margin: 10px 0;
}

.editor-btn{
   width: 54px;
   height: 50px;
   border-radius: 10px;
   font-size: 1.5rem;
   background-color: #fff;
   box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.356);
   transition: transform 0.3s;
}

.editor-btn:hover{
   filter: brightness(1.1);
   transform: scale(1.05);
}

.tools-bar input[type="text"]{
   width: 100%;
   height: 50px;
   border: none;
   border-radius: 4em;
   text-align: center;
   font-weight: 800;
   font-size: 1.1rem;
   text-transform: uppercase;
   background-color: #ebeef3;
   box-shadow:inset 0px -3px 1px #bbc4d1,inset 0px 3px 1px white;
}

.tools-bar input[type="text"]:focus-visible{
   padding: 0;
   outline: none;
}

.lines-edit>button{
   margin: auto 10px;
   color: white;
   text-shadow: 0px 3px 1px #0000007a;
}

.switch-btn{
   background: linear-gradient(135deg, rgba(32,161,194,1) 0%, rgba(88,189,215,1) 100%);
   box-shadow: 0px 5px 1px #048b97,inset 0px 5px 1px #4bbcd5;
}

.add-btn{
   background: linear-gradient(135deg, rgba(57,189,77,1) 0%, rgba(65,227,90,1) 100%);
   box-shadow: 0px 5px 1px #015d33,inset 0px 5px 1px #5fd374;
}

.delete-btn{
   background: linear-gradient(135deg, rgba(235,72,54,1) 0%, rgba(211,35,55,1) 100%);
   box-shadow: 0px 5px 1px #8c0606,inset 0px 5px 1px #ee685b;
}

.font-edit{
   display: grid;
   gap:18px;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: repeat(2,1fr);
   align-items: center; 
   justify-items: stretch;
   background-color: #19a59f;
   border-radius: 10px;
   padding: 11px 17px;
}

.font-edit> *:hover{
   filter: brightness(0.9);
}

select[name="fontFam"]{
   grid-column: 1/4;
   align-self: stretch;
   width: auto;
   border: none;
}

.font-edit input[type="color"]{
   position: relative;
   padding: 0;
   border: none;
}

.font-edit input[type="color"]::before{
   position: absolute;
   left:50%;
   top:50%;
   transform: translate(-50%,-50%);
   color: white;
   mix-blend-mode:difference;
}

.font-edit input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.font-edit input[type="color"]::-webkit-color-swatch {
	border: 3px solid white;
   border-radius: 10px;
}

.stickers-container{
   justify-content: space-between;
   background-color: #fff;
   border-radius: 4em;
   padding: 5px 16px;
   min-width: 250px;
}

.sticker-scroll{
   width: 15px;
   background: transparent;
}

.sticker{
   margin: auto 10px;
   font-size: 30px;
   background: transparent;
}

.share-btns{
   gap: 10px;
   align-self: stretch;
   justify-content: space-between;
}

.share-btns button{
   flex:1;
   color: white;
   font-size: 1.3rem;
   padding: 5px;
}

.share-btn{
   background-color: #8f44bb;
   box-shadow:inset 0px -3px 1px #632687,inset 0px 3px 1px #bf84da;
}

.save-btn{
   background-color: rgb(57,189,77);
   box-shadow:inset 0px -3px 1px #015d33,inset 0px 3px 1px #5fd374;
}

.download-btn{
   background-color: #1e7cd3;
   box-shadow:inset 0px -3px 1px #165c9c,inset 0px 3px 1px #54b2e8;
}

.download-btn a{
   color: white;
   width: 100%;
   font-weight: 400;
}

@media(min-width:1050px){
   .editor{
      flex-direction: row;
   }
}


/* About */

.about{
   background-color: rgba(255, 255, 255, 0.082);
   border-radius: 25px;
   max-width: 500px;
   height: 500px;
   margin: 9px auto;
   color: white;
   padding: 15px;
}

@media(min-width:680px){
   .about{
      margin: auto;
   }
}


/* Saved */

.saved{
   margin: 10px;
   background-color: #383b42;
   border-radius: 10px;
}

.saved .images-container{
   padding: 20px 40px;
}

.delete-saved-btn{
   position: absolute;
   display: block;
   right: 10px;
   bottom: 10px;
   /* padding: 2px; */
   width: 45px;
   height: 45px;
   color: rgb(29, 29, 29);
   box-shadow: 0px 3px 8px 3px rgb(0, 0, 0);
   background-color: rgb(216, 67, 67);
   transition: transform 0.2s;
}

.delete-saved-btn:hover{
   transform: scale(1.05);
}

/* Helpers */

.hidden{
   display:none;
}

.flex{
   display: flex;
}
.flex.hidden{
   display: none;
}